:root {
    --primary: #4236FF;
    --white: #ffffff;
    --bg-color: #FBFBFF;
    --text-color: #222;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: 300ms ease-in-out;
}

a:hover {
    text-decoration: none;
    color: var(--primary);
}

img {
    max-width: 100%;
    display: block;
}

h3 {
    font-size: 18px;
}

.project_purple {
    background: #F0EFFF;
}

.project_lightblue {
    background: #EDF5FD;
}

.project_green {
    background: #ECF1EE;
}

.project_orange {
    background: #FFF7ED;
}

small {
    font-size: 12px;
    color: var(--text-color)!important;
    padding-top: 10%!important;
}

.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    height: 2px;
    content: "";
    width: 100%!important;
    transition: 300ms ease-in-out;
}

article img {
    margin: 5% 0;
}