.heading2Xl {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.violet {
    color: #4236FF;
}

/*--------HEADER---------*/

.headertop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3% 5% 0 5%;
}

.headerbottom {
    margin: 0 25%;
    padding-top: 3%;
    text-align: center;
}

.project_item {
    margin-bottom: 15%;
}

.project_image {
    width: 100%;
    background: lightgrey;
    height: 400px;
}

.navbar {
    display: flex;
}

.navbar div {
    margin-left: 15px;
    position: relative;
}

.navbar div:hover:after {
    width: 100%;
}

.navbar div:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    height: 2px;
    content: "";
    width: 0;
    transition: 300ms ease-in-out;

}

.button {
    background: var(--primary);
    color: #fff;
    padding: 13px 23px;
    border-radius: 5px;
    margin-left: 10%;
    transition: 300ms ease-in-out;
}

.button:hover {
    opacity: 0.8;
    color: white;
    text-decoration: none;

}

.about_text {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.about_text_wrapper {
    display: flex;
    width: 100%;
}

.subheading {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.style_h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.style_h3 {
    font-size: 25px;
    font-weight: 600;

}

.heading_wrapper {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.skill_item {
    background: var(--bg-color);
    padding: 10%;
}